@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poiret One', cursive;
    background-image: url("/public/img/imagem-fundo.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.wrapper {
    margin: 2rem 1rem;
    padding: 20px;
    background-color: #242B40;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.img-top {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding-bottom: 10px;
}

.img-top img {
    width: 100%;
    display: block;
}

.message {
    position: absolute;
    color: white;
    display: flex;
    font-weight: bold;
    width: 3rem;
    padding-left: 15px;
    margin-top: 10px;
}

.input-group {
    position: relative;
}

.input-group .underline::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
}

.input-group .underline::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #BCA3BF;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

#search {
    outline: none;
    width: 277px;
    margin-bottom: -3px;
}

.input {
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}


.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
    color: rgb(255, 255, 255,0.2);
    font-size: 14px;
    cursor: text;
}

.input-group input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input:focus +.input-label, .input:valid+.input-label{
    transform: translate(0px, -14px) scale(.8);
    color: #BCA3BF;
}

.input:is(:focus, :valid) {
    outline-color: white;
    outline: none;
}

.button {
    position: relative;
    width: 100px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(255, 255, 255, 0.945);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:  .5s;
    border-radius: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    margin: 10px 88.5px;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}



.icon, .submit {
    opacity: 0;
}

.button:focus{
    width: 38px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.5);;
    border-radius: 50%; 
    margin-left: 119.3px;
}

.button:focus .text {
    opacity: 0;
}

.button:focus .submit {
    opacity: 1;
}

.button:focus .icon {
    opacity: 1;
    transition-delay: .5s;
    width: 3rem;
    height: 3rem;
    position: absolute;
    border: 5px solid #463973;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
    margin-top: -24px;
    margin-left: -23px;
}

@keyframes spin {
    
    0%{
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
        border-top-color: #F26B9C;
        border-bottom-color: #BCA3BF;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    100%{
        transform: rotate(360deg);
    }
}

p{
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(160, 160, 160, 0.788);
    font-weight: bold;
}

a:hover{
    color: #BCA3BF;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

